################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Projeto Integrado - Game 2d/.vs/Projeto Integrado - Game 2d/v16
/Projeto Integrado - Game 2d/.vs/slnx.sqlite
